@import url('https://fonts.googleapis.com/css2?family=Lora&family=Pacifico&family=Poppins:wght@200;400;500&family=Raleway&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fc036f;
    font-weight: 900 ;
    font-family: 'Pacifico', cursive;
}
    

/* .container{
    
    align-items: center;
    margin: auto;
    height: 500px;
    width: 300px;
    color: rgb(130, 5, 248);
    background-color: #f5f798;
    border: 2px solid green;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
} */
